:host {
  user-select: none;
  display: inline-block;
  width: 427px;
  height: 257px;
}

#edu.big {
  transform: scale(1.025);
  box-shadow: 4px 4px 5px 0 #3a393921;
}


#edu {
  overflow: hidden;
  border-radius: 10px;
  transition: transform .5s, box-shadow .5s;
  box-shadow: 2px 2px 5px 0 #00000042;
  position: relative;
  width: 427px;
  height: 257px;
  overflow: hidden;
  display: inline-block;
  background: linear-gradient(#eeb14d 0%, #e89a16 100%);
  color: black;
}


#edu-teacher {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(#4dd8ee 0%, #4d98ee 100%)
}


.Rectangle_2_j {
  position: absolute;
  overflow: visible;
  width: 427px;
  height: 257px;
  left: 0px;
  top: 0px;
}
#edu_card {
  position: absolute;
  left: 19px;
  top: 7px;
  overflow: visible;
  width: 135px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
}
#tgm___HTBLuVA_Wien_XX_1200_Wie {
  position: absolute;
  left: 20px;
  top: 47px;
  overflow: visible;
  width: 165px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

#fullNameContainer {
  position: absolute;
  left: 19px;
  top: 90px;
  overflow: visible;
  width: 143px;
  height: 14px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

#moveFullName {
  position: absolute;
  display: inline-block;
}

#Maximilian_Mairinger {
  left: 0;
  top: 0
}


#FullnameOverlay {
  position: absolute;
  display: inline-block;
  left: 100px;
  top: 0;
  height: 20px;
  opacity: 0;
  width: max-content;
}
#FullnameOverlayGradient {
  position: relative;
  float: left;
  width: 5px;
  height: 100%;
  background: linear-gradient(90deg, rgba(83, 80, 74, 0), rgba(236, 168, 56, 1));
}
#FullnameOverlaySolid {
  position: relative;
  float: left;
  width: 20px;  
  height: 100%;
  background: rgb(236, 168, 56)
}

#loadingSpinner {
  position: absolute;
  height: 6px;
  width: 6px;
  top: 50%;
  left: 7.5px;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 50%;

  border: 1.5px solid black;
  border-top-color: transparent;
  box-sizing: border-box;
  opacity: 0;
}



img-user {
  position: absolute;
  width: 90px;
  height: 124px;
  left: 19px;
  top: 113px;
  overflow: visible;
  background: url("./user.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 3px;
}
#Username__mmairinger {
  position: absolute;
  left: 126px;
  top: 118px;
  overflow: visible;
  width: 131px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}
#Geburtsdatum__29_2_2000 {
  position: absolute;
  left: 127px;
  top: 142px;
  overflow: visible;
  width: 144px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}
#G_ltig_bis__29_08_2030 {
  position: absolute;
  left: 127px;
  top: 159px;
  overflow: visible;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}
#Wohnort_ {
  position: absolute;
  left: 125px;
  top: 203px;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}
#ID2424_Wien {
  position: absolute;
  left: 125px;
  top: 220px;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}
img-austria {
  position: absolute;
  width: 65px;
  height: 68px;
  left: 300px;
  top: 17px;
  background: url("./austria.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#stripe {
  position: absolute;
  width: 15px;
  height: 257px;
  left: 395px;
  top: 0px;
  overflow: visible;
  background: linear-gradient(#cfcfcf 0%, #a2a6b1 100%);
}

.edu-container-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.edu-card-side {
  margin: 20px 0;
  color: white;
  height: 40px;
  width: 40px;
  font-size: 10px;
  transform: rotate(90deg);
  transform-origin: 12.5px 0;
}

.edu-card-side.b {
  transform: rotate(270deg) translateX(-25px);
  transform-origin: 2.5px 0;
}

.edu-card-side:nth-child(1) {
  color: #98E4E4;
}

.edu-card-side:nth-child(2) {
  color: #9DE1C3;
}

.edu-card-side:nth-child(3) {
  color: #ACDF9E;
}

.edu-card-side:nth-child(4) {
  color: #CBD5A4;
}

.edu-card-side:nth-child(5) {
  color: #DAB5A3;
}

#Username__mmairinger span {
  width: 250px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}