:host {
  user-select: none;
}

#edu-teacher {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(#4dd8ee 0%, #1691e8 100%)
}

#edu {
  position: relative;
  width: 427px;
  height: 257px;
  overflow: hidden;
  display: inline-block;
  background: linear-gradient(#eeb14d 0%, #e89a16 100%);
  border-radius: 10px;
}
.Rectangle_2_j {
  position: absolute;
  overflow: visible;
  width: 427px;
  height: 257px;
  left: 0px;
  top: 0px;
}
#edu_card {
  position: absolute;
  left: 19px;
  top: 7px;
  overflow: visible;
  width: 135px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  color: rgba(0,0,0,1);
}
#tgm___HTBLuVA_Wien_XX_1200_Wie {
  position: absolute;
  left: 20px;
  top: 47px;
  overflow: visible;
  width: 165px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#Maximilian_Mairinger {
  position: absolute;
  left: 19px;
  top: 90px;
  overflow: visible;
  width: 143px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: rgba(0,0,0,1);
}
img-user {
  position: absolute;
  width: 90px;
  height: 124px;
  left: 19px;
  top: 113px;
  overflow: visible;
  background: url("./user.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#Username__mmairinger {
  position: absolute;
  left: 126px;
  top: 118px;
  overflow: visible;
  width: 131px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#Geburtsdatum__29_2_2000 {
  position: absolute;
  left: 127px;
  top: 142px;
  overflow: visible;
  width: 144px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#G_ltig_bis__29_08_2030 {
  position: absolute;
  left: 127px;
  top: 159px;
  overflow: visible;
  width: 124px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#Wohnort_ {
  position: absolute;
  left: 125px;
  top: 203px;
  overflow: visible;
  width: 54px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
#ID2424_Wien {
  position: absolute;
  left: 125px;
  top: 220px;
  overflow: visible;
  width: 62px;
  white-space: nowrap;
  text-align: left;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(0,0,0,1);
}
img-austria {
  position: absolute;
  width: 65px;
  height: 68px;
  left: 300px;
  top: 17px;
  background: url("./austria.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#stripe {
  position: absolute;
  width: 15px;
  height: 257px;
  left: 395px;
  top: 0px;
  overflow: visible;
  background: linear-gradient(#cfcfcf 0%, #a2a6b1 100%);
}

.edu-container-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.edu-card-side {
  margin: 20px 0;
  color: white;
  height: 40px;
  width: 40px;
  font-size: 10px;
  transform: rotate(90deg);
  transform-origin: 12.5px 0;
}

.edu-card-side.b {
  transform: rotate(270deg) translateX(-25px);
  transform-origin: 2.5px 0;
}

.edu-card-side:nth-child(1) {
  color: #98E4E4;
}

.edu-card-side:nth-child(2) {
  color: #9DE1C3;
}

.edu-card-side:nth-child(3) {
  color: #ACDF9E;
}

.edu-card-side:nth-child(4) {
  color: #CBD5A4;
}

.edu-card-side:nth-child(5) {
  color: #DAB5A3;
}

#Username__mmairinger span {
  width: 250px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}