#edu
  #edu-teacher
  #edu_card
    span edu.card
  #tgm___HTBLuVA_Wien_XX_1200_Wie
    span
      | tgm - HTBLuVA Wien XX
      br
      | 1200 Wien, Wexstraße 19-23
  #Maximilian_Mairinger
    span Unknown
  img-user
  #Username__mmairinger
    span Username: 
  #Geburtsdatum__29_2_2000
    span Inhaber: ?
  #G_ltig_bis__29_08_2030
    span Glückstag: ?
  
  #Wohnort_
    span Authentication:
  #ID2424_Wien
    span 
  img-austria
  #stripe
    .edu-container-side
      span.edu-card-side.a edu.card
      span.edu-card-side.b edu.card
      span.edu-card-side.a edu.card
      span.edu-card-side.b edu.card
      span.edu-card-side.a edu.card