text-conatiner
  text-heading Confirm
  text-content I am currently teaching <subject-text class="hightlight" style="max-width: 83px">no subject</subject-text> in <classroom-text class="hightlight" style="max-width: 105px">no classroom</classroom-text> for <hours-text class="hightlight" style="min-width: 11px; max-width: 50px">0</hours-text> hours.
  

