text-conatiner
  text-heading Confirm
  text-content I am currently teaching <subject-text class="hightlight" style="max-width: 81px">no Subject</subject-text> in <faculty-text class="hightlight" style="max-width: 101px">no classroom</faculty-text> for <hours-text class="hightlight" style="min-width: 10px; max-width: 50px">0</hours-text> hours.
  

