:host {
  display: inline-block;
  text-emphasis: center;
}

hour-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

hour-box {
  position: relative;
  float: left;
  width: 50px;
  height: 30px;
  background: rgb(233, 233, 233);
  margin: 0 2px;
  transition: background-color .2s;
}

hour-box.active {
  background: rgb(165, 220, 134);
}

text-display {
  margin-top: 5px;
  display: block;
}
