:host {
  border-radius: 2px;
  height: 30px;
  transition: border .4s, color .4s;
}

button-container {
  display: flex;
  height: 100%
}
button-text {
  display: block;
  font-size: 1em;
  margin: auto 0;
  padding: 0 15px;
}

:host {
  border: 1px solid rgba(0,0,0,.24);
}

:host(:not(.enabled)) {
  border: 1px solid rgba(0,0,0,.14);
  color: rgb(191, 191, 191)
}

:host(:focus) {
  border: 1px solid rgba(0,0,0,.6);
}


