main-conatiner
  hours-container 


  scroll-conatiner.cards

    other-cards-container

  svg(xmlns='http://www.w3.org/2000/svg' width='17' height='9.72' viewbox='0 0 17 9.72' id="arrow")
    path#Union_8(data-name='Union 8' d='M1244.123-8311.8l-.181.184-7.289-7.289.36-.363,7.106,7.1,7.171-7.172.363.363-7.354,7.352Z' transform='translate(-1235.653 8320.341)' fill='none' stroke='#7a7a7a' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2')

list-conatiner
  scroll-conatiner

